@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sansita+Swashed:wght@600&display=swap');

body{
    background-color: lavender;
}
header{
    background-color: darkslateblue;
    font-family: 'Sansita Swashed', cursive;
    color: aliceblue;
    text-align: center;
}
main{
    background-color: lavender;
    margin-bottom: 70px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #483d8b;
    font-family: 'Sansita Swashed', cursive;
    color: aliceblue;
    text-align: center;

}
a{
    color: aliceblue;
    padding: 15px;
}
p{
    font-family: 'Playfair Display', serif;
    color: darkslateblue;
}
.centre{
    text-align: center ;
}
.police{
    font-family: 'Playfair Display', serif;
    color: darkslateblue;
}
img{
    width: 300px;
    height: auto;
}
.color{
    background: #9370db !important;
    color: aliceblue !important;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}